.label {
    color: #fff !important;
}

.table {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color: transparent; */
    background-color: #3a3b3c;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, .05); */
    color: #fff !important;
    /* center all the items */
}

.table thead tr th {
    background-color: #3a3b3c;
    color: #fff !important;
    text-align: center;
}

.table .tbody tr td {
    background-color: #3a3b3c !important;
    color: #fff !important;
    text-align: center;
}

.table {
    text-align: center;
}

.btn-primary {
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff !important;
    font-weight: 600;
    border-radius: 5px;
    /* margin: 10px; */
    padding-right: 10px;
    padding-left: 10px;
    /* get rid of the under line */
    text-decoration: none !important;
}

.btn-primary a {
    color: #fff !important;
    text-decoration: none !important;
}

.mess {
    color: rgb(101, 176, 92) !important;
}

.errmess {
    color: rgb(204, 89, 89) !important;
}

.item {
    width: 97% !important;
}

.pad {
    padding: 10px;
}

.btnclose {
    background-color: rgb(204, 89, 89);
    border-color: #3a3b3c;
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
}

.btnreply {
    background-color: rgb(101, 176, 92);
    border-color: #3a3b3c;
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
    margin-bottom: 20px;
}