body {
    background-color: #6b756b;
    font-family: 'Montserrat';
}

.panel {
    background-color: #DADDDC;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 20px;
    width: 80%;
    height: 50%;
    top: 25%;
    left: 10%;
    position: absolute;
    display: flex;

}

table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px #1F8355;;
    padding: 8px;
    text-align: center;
	vertical-align: middle;
  }

  thead th {
    width: 30%;
  }

