body {
    background-color: #6b756b;
    font-family: 'Montserrat';
}

.panel {
    background-color: #DADDDC;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 489px;
    width: 80%;
    height: 940px;
    top: 60px;
    left: 10%;
    position: absolute;
    display: flex;
}

.basket {
    width: 100%;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px #1F8355;
    ;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

thead th {
    width: 30%;
}

.remove {
    height: 40px;
    width: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    line-height: 18px;
    align-items: left;
    text-align: center;
    letter-spacing: -0.015em;
    transition-duration: 0.4s;
    cursor: pointer;
    background: indianred;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    float: left;
    border: none;
}

.container {
    height: 40px;
    width: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    line-height: 18px;
    align-items: left;
    text-align: center;
    letter-spacing: -0.015em;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #1F8355;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    float: left;
    border: none;
}

.checkout_ button {
    height: 40px;
    width: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    line-height: 18px;
    align-items: left;
    text-align: center;
    letter-spacing: -0.015em;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #1F8355;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    justify-content: left;
    align-items: left;
}

.checkout_ strong {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    line-height: 18px;
    align-items: left;
    text-align: center;
    letter-spacing: -0.015em;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 0;
    right: 200px;
    margin: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.checkout_ button a {
    color: #ffffff;
    text-decoration: none;
}

.basket h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #000;
    margin: 0;
    padding: 0;
    /* margin-left: 20%; */
    /* make text centerd */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}