body {
    background-color: #000;
}

.middle {
    background: #83958C;
    position: absolute;
    width: 100%;
    height: 2000px;
    bottom: 400;
    left: 0px;
    top: 60px;
}

.bottomNav {
    top: 2058px;
    bottom: 0;
}