body {
    background-color: #6b756b;
}

.middle {
    background: #DADDDC;
    position: absolute;
    width: 80%;
    height: 2000px;
    bottom: 400;
    left: 0px;
    top: 60px;
    left: 10%;
    position: absolute;
    display: flex;
}

.bottomNav {
    top: 2058px;
    bottom: 0;
}