/* make the products be displayed in rows */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 150px;
}

.product {
    width: 20%;
    margin-bottom: 2em;
    /* border: 1px solid #fff; */
    padding: 1em;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.1em;
    margin: 0;
    /* font and color */
    font-family: 'Montserrat';
    color: #fff;
    width: 100%;
}

.product p {
    margin: 0;
    font-size: 1em;
    font-family: 'Montserrat';
    color: #fff;
    padding-bottom: 1em;
    width: 100%;
}

.product button {
    background-color: #158355;
    color: #fff;
    border: 1px solid #158355;
    padding: 0.5em 1em;
    font-size: 1em;
    margin-top: 1em;
}

.product a {
    background-color: #158355;
    color: #fff;
    border: 1px solid #158355;
    padding: 0.5em 1em;
    font-size: 1em;
    margin-top: 1em;
    font-family: 'Montserrat';
    text-decoration: none;
    margin-top: 100px;
}

.creditBanner h2 {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

.creditBanner p {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 2em;
    padding: 1em;
}

.preOwned h1 {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 3em;
    /* padding: 1em; */
}

.topPicks .products img {
    width: 100%;
    height: auto;
}

.highlights .highlight1 {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    /* flex box with rows */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.highlights .highlight1 .item1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #158355;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights .highlight1 p {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

.highlights .highlight2 {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    /* flex box with rows */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem;
    padding-left: 25rem;
    padding-right: 25rem;
}

.highlights .highlight2 .item2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #158355;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights .highlight1 p {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

.highlights .highlight2 p {
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}