body {
    background-color: #202020;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font: optional;
    transition: 2s ease;
    overflow-x: hidden;
    overflow: hidden;
    border: relative;
}

.search-box {
    /* center the search box*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    background-color: #202020;
    border-radius: 5px;
    border: 3px solid #fff;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 80%;
}

.search-box form {
    padding: 10px;
}

.searcn {
    width: 50%;
    height: auto;
    padding: 2px;
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
}

.search-box form button {
    height: auto;
    border: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 3px;
}

.search-box .error {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.search-box .avalible {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.results {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    background-color: #202020;
    border-radius: 5px;
    border: 3px solid #fff;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 50%;
}

.button-container .button {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.4em;
    margin: 15px 15px;
    border-radius: 50px;
    color: #f4f4f4;
    transition: all 0.3s ease 0s;
    transform: scale(1.2);
}

.button-container .button:hover {
    transform: scale(1.2);
}

.button-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button3 {
    background-color: #8000ff;
    box-shadow: 0 0 10px 0 #8000ff inset, 0 0 20px 2px #8000ff;
    font-size: 1.2em;
}

.button3:hover {
    transform: scale(1.2);
}


/* does not want to enlarge for some reason
 */

@media screen and (max-width: 750px) {
    label {
        font-size: 0.8em;
    }
    .search-box {
        width: 80%;
    }
    .searcn {
        width: 40%;
        height: 10px;
    }
    button {
        font-size: 0.5em;
        /* margin-bottom: 10px; */
    }
}