/* scroll bars */

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgb(61, 61, 61);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 2em;
}


/*** Works on common browsers ***/

::selection {
    background-color: #18191a;
    color: #fff;
}


/*** Mozilla based browsers ***/

::-moz-selection {
    background-color: #18191a;
    color: #fff;
}


/***For Other Browsers ***/

::-o-selection {
    background-color: #18191a;
    color: #fff;
}

::-ms-selection {
    background-color: #18191a;
    color: #fff;
}


/*** For Webkit ***/

::-webkit-selection {
    background-color: #18191a;
    color: #fff;
}


/* top */

.profile-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3a3b3c;
    border-radius: 30px;
}

.profile-container .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

.profile-container .profile-header .profile-image {
    width: auto !important;
    height: auto;
    border-radius: 20px;
    /* background-color: #gray; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.profile-image img {
    width: 90%;
    height: 90%;
}

.profile-image button {
    width: 100%;
    height: auto;
    /* height auto fits with the size of the icon */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 20px;
}

.profile-image input {
    width: 10vh;
    padding: 10px;
    cursor: crosshair;
    /* make the button looks fancy */
    border: none;
    background: none;
    /* border-radius: 20px; */
    color: #000;
    /* font-size: em; */
    font-weight: bold;
    text-align: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    align-items: center;
    /* margin-right: ; */
}

.profile-image i {
    /* make font smaller based on the width of screen */
    font-size: 2.7vw;
    color: #fff !important;
}

.uploader {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: centers; */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3a3b3c;
    border-radius: 30px;
}

.uploader .submit {
    width: 100%;
    padding: 10px;
    cursor: crosshair;
    background-color: #00a65a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    align-items: center;
    justify-content: center;
    /* margin-right: ; */
    margin-top: 20px;
}

.uploader input {
    width: 100%;
    padding: 10px;
    cursor: crosshair;
    background-color: #00a65a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
}


/* profile name */

.profile-name {
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.profile-name h1 {
    /* responsive font size */
    font-size: 3vw;
    margin: 0;
    margin-right: 10px;
}

form {
    /* make items show under each other */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3a3b3c;
    border-radius: 30px;
}

.profile-detail input {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #3a3b3c;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.profile-detail label {
    color: #fff;
    margin-right: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-detail textarea {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #3a3b3c;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.profile-detail button {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.bx-save {
    font-size: 2vw;
}

.profile-detail .submit {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}